@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Meie+Script&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: "Source Serif 4", serif;
    background-color: #f8f9fa;

}

.coming {
    font-size: 100px;
    padding-top: 200px;
}

/* Main index page */
.welcomepage {
    overflow: hidden;
    background-color: #fff4e4;

}

.title {
    color: #2563EB;
    animation-name: title;
    height: 200px;
    animation-duration: 12s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
    text-shadow: 0 1px 0 #7C3AED, 0 2px 0 #7C3AED,
        0 3px 0 #7C3AED, 0 4px 0 #7C3AED,
        0 5px 0 #7C3AED, 0 6px 0 #7C3AED,
        0 7px 0 #7C3AED, 0 8px 0 #7C3AED,
        0 9px 0 #7C3AED, 0 10px 0 #7C3AED,
        0 11px 0 #7C3AED, 0 12px 0 #7C3AED,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

@keyframes title {
    0% {
        opacity: 0;
        transform: translateX(120%) translateY(5%);
    }

    100% {
        transform: translateX(-20%) translateY(5%);
        opacity: 0.8;
    }
}

.titleB {
    color: #7C3AED;
    height: 200px;
    animation-name: titleB;
    animation-duration: 12s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 180px;
    text-shadow: 0 1px 0 #F97316, 0 2px 0 #F97316,
        0 3px 0 #F97316, 0 4px 0 #F97316,
        0 5px 0 #F97316, 0 6px 0 #F97316,
        0 7px 0 #F97316, 0 8px 0 #F97316,
        0 9px 0 #F97316, 0 10px 0 #F97316,
        0 11px 0 #F97316, 0 12px 0 #F97316,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

@keyframes titleB {
    0% {
        opacity: 0;
        transform: translateX(-90%) translateY(-4%);
    }

    100% {
        transform: translateX(-4%) translateY(-4%);
        opacity: 0.8;
    }
}

.titleC {
    color: #F97316;
    height: 200px;
    animation-name: titleC;
    animation-duration: 14s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 160px;
    text-shadow: 0 1px 0 #2563EB, 0 2px 0 #2563EB,
        0 3px 0 #2563EB, 0 4px 0 #2563EB,
        0 5px 0 #2563EB, 0 6px 0 #2563EB,
        0 7px 0 #2563EB, 0 8px 0 #2563EB,
        0 9px 0 #2563EB, 0 10px 0 #2563EB,
        0 11px 0 #2563EB, 0 12px 0 #2563EB,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

@keyframes titleC {
    0% {
        transform: translateX(90%) translateY(-15%);
        opacity: 0;
    }

    100% {
        transform: translateX(9.5%) translateY(-12%);
        opacity: 0.8;
    }
}

.en,
.hu,
.sk {
    width: 55px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.en:hover,
.hu:hover,
.sk:hover {
    width: 85px;
    height: 60px;
}

.en {

    background-image: url("../images/usflag.gif");

}

.hu {

    background-image: url("../images/huflag.gif");

}

.sk {

    background-image: url("../images/skflag.gif");

}

.headermain {
    height: 50px;
    padding-top: 10px;
}

/* Index pages after the language selected */

.navbar {
    background-color: #f8f9fa;
    width: 100%;
    height: 50px;
}

.main {
    padding-top: 80px;
}


h1 {
    font-size: 248px;
    text-align: center;

}

.ga,
.nav-link:hover {
    color: #2563EB !important;
}

.ve {
    color: #7C3AED;
    opacity: 0.8;
}

.la {
    color: #F97316;
    opacity: 0.6;
}

.ga,
.ve,
.la {
    font-size: 180px;
}

.finance {
    background-image: url('../images/bg-finance.png');
    background-position: center;
    background-size: cover;
    color: #2563EB;

}

.development {
    background-image: url('../images/bg-development.png');
    background-position: center;
    background-size: cover;
    color: #7C3AED;
}

.travel {
    background-image: url('../images/bg-travel.jpg');
    background-position: center;
    background-size: cover;
    color: #F97316;
}

.about {
    background-image: url('../images/bg-about.jpg');
    background-position: center;
    background-size: cover;
}

.contact {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    color: #2563EB;
}

/* buttons to navigate to services,contact form and about page */
.finbtn {
    color: #2563EB;
}

.devbtn,
.about,
.aboutbtn,
.active {
    color: #7C3AED !important;
}

.travelbtn {
    color: #F97316;
}


.contactbtn {
    color: #2563EB;
    border: 1px #2563EB solid;
    background-color: transparent;
}

.finbtn:hover,
.contactbtn:hover {
    background-color: #2563EB !important;
    color: white;
}

.devbtn:hover,
.aboutbtn:hover {
    background-color: #7C3AED !important;
    color: white !important;
}

.travelbtn:hover {
    color: white;
    background-color: #F97316 !important;
}

/* Finance,Dev,Travel & About  pages, keep them together since the style is very similar */

.finservices,
.devservices,
.aboutpage,
.travelpage {
    padding-top: 80px;
    color: #1f2937;

}

/* includes the contact form */
.fininfo,
.devinfo,
.aboutinfo,
.travelinfo, .contact-form {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.fininfo p,
.devinfo p,
.aboutinfo p,
.travelinfo p {
    margin-bottom: 1rem;
}

.fininfo p,
.devinfo p,
.aboutinfo p,
.travelinfo p {
    line-height: 1.6;
}

.fininfo h2,
.fininfo h5,
.aboutinfo h2 {
    margin-bottom: 1rem;
    color: #2563EB;
}

.devinfo h2, .devinfo h6 {
    margin-bottom: 1rem;
    color: #7C3AED;
}

.travelinfo h2,
.travelinfo h5,
.travelinfo h6 {
    margin-bottom: 1rem;
    color: #F97316;
}

.aboutinfo h6 {
    margin-bottom: 1.5rem;
    color: #555;
    padding: 2rem;
}


.fininfo,
.devinfo,
.aboutinfo,
.travelinfo {
    background-color: #f8f9fa;
    border-radius: 10px;
}

/* Contact form */

#contactform {
    padding-top: 80px;;
}

label {
      color: #555;
      padding: 10px;
}

.form-message{
    min-height: 150px
}

/* confirmation */

.confirmation {
    padding-top: 160px;
    color: #555;
    line-height: 1.6;
}

/* font awesome icons */
i {
    font-size: 35px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.fa-github {
    color: black;
}


/* device screens with max width 660px */

@media screen and (max-width:660px) {

    h1 {
        font-size: 188px;

    }


    /* Main page */
    .title,
    .titleB,
    .titleC {
        font-size: 140px;
    }

    @keyframes titleC {
        0% {
            transform: translateX(90%) translateY(-15%);
            opacity: 0;
        }

        100% {
            transform: translateX(15%) translateY(-12%);
            opacity: 0.8;
        }
    }

    /* Index page */
    .card-title {
        font-size: 15px !important;
    }

    .finbtn:hover,
    .devbtn:hover,
    .aboutbtn:hover,
    .contactbtn:hover,
    .travelbtn:hover {
        font-size: 25px;
    }

    .logo {
        padding-left: 15px;
    }



}