@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    font-family: "Source Serif 4", serif;
}

/* Main index page */
.title {
    animation-name: title;
    height: 200px;
    animation-duration: 10s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
}

@keyframes title {
    0% {
        transform: translateX(0px) translateY(-90%);
    }

    100% {
        transform: translateX(0px) translateY(0%);
    }
}

.titleB {
    height: 200px;
    animation-name: titleB;
    animation-duration: 10s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
}

@keyframes titleB {
    0% {
        transform: translateX(-90%) translateY(0%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}

.titleC {
    height: 200px;
    animation-name: titleC;
    animation-duration: 10s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
}

@keyframes titleC {
    0% {
        transform: translateX(90%) translateY(0%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}

/* Index pages after the language selected */

h1 {
    font-size: 248px;
    text-align: center;
}

footer {
    text-align: center;
}

.finance {
    background-image: url('../../Images/bg-finance.png');
    background-position: center;
    background-size: cover;
}

.development {
    background-image: url('../../Images/bg-development.png');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:660px) {

    h1 {
        font-size: 188px;

    }
}