@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Meie+Script&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: "Source Serif 4", serif;
}

/* Main index page */
.welcomepage {
    overflow: hidden;
    background-image: url("../../Images/bgimage.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    
}

.title {
    color: #2563EB;
    animation-name: title;
    height: 200px;
    animation-duration: 12s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
}

@keyframes title {
    0% {
        opacity: 0;
        transform: translateX(-20%) translateY(-120%);
    }

    100% {
        transform: translateX(-20%) translateY(5%);
        opacity: 0.8;
    }
}

.titleB {
    color: #7C3AED;
    height: 200px;
    animation-name: titleB;
    animation-duration: 12s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
}

@keyframes titleB {
    0% {
        opacity: 0;
        transform: translateX(-90%) translateY(0%);
    }

    100% {
        transform: translateX(-4%) translateY(0%);
        opacity: 0.9;
    }
}

.titleC {
    color: #F97316;
    height: 200px;
    animation-name: titleC;
    animation-duration: 14s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: 200px;
}

@keyframes titleC {
    0% {
        transform: translateX(90%) translateY(-15%);
        opacity: 0;
    }

    100% {
        transform: translateX(12%) translateY(-15%);
        opacity: 1;
    }
}

.en,
.hu,
.sk {
    width: 55px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.en {

    background-image: url("../../Images/usflag.gif");

}

.hu {

    background-image: url("../../Images/huflag.gif");

}

.sk {

    background-image: url("../../Images/skflag.gif");

}

/* Index pages after the language selected */

h1 {
    font-size: 248px;
    text-align: center;
    
}

.ga {
    color: #2563EB;
}

.ve {
    color: #7C3AED;
    opacity: 0.8;
}

.la {
    color: #F97316;
    opacity: 0.6;
}

img {
    width: 100px;
    height: 80px;
    position: fixed;
}

footer {
    text-align: center;
}

.finance {
    background-image: url('../../Images/bg-finance.png');
    background-position: center;
    background-size: cover;
   
}

.development {
    background-image: url('../../Images/bg-development.png');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:660px) {

    h1 {
        font-size: 188px;

    }
}